<!DOCTYPE html>
<html>
<head>
	<title>Register Account</title>
</head>
<body>
	<form action="{% url 'dashboard_update' %}" method='post'>
	{% csrf_token %} 
		<p>Email Address:</p>
		<input type="text" name="email">
		<p>First Name:</p>
		<input type="text" name="f_name">
		<p>Last Name:</p>
		<input type="text" name="l_name">
		<p>Password:</p>
		<input type="password" name="password">
		<p>Password Confirmation:</p>
		<input type="password" name="c_password">
		<input type="submit" value="Register">
	</form>
	<br>
	<a href="{% url 'dashboard_index' %}">Already have an account? Login</a>
</body>
</html>